h1 {
    text-align: center;
    font-size: 350%;
    font-family: serif;
    background-position: 100%;
    font-style: italic;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: hsl(56, 70%, 70%);
    text-align: center;
    text-size-adjust: 150%;
}




form {
    display: inline-block;
}

#list {
    position: relative;
    align-items: left;
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 5px 5px #333;
    max-width: 50%;
    margin-left: 400px;
    margin-right: 400px;
  }



  button {
    font-size: 10px;
  }

  h2#toDo {
    background-origin: border-box;
    
  }

  div#list2 {
    position: relative;
    align-items: left;
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 5px 5px #333;
    max-width: 50%;
    margin-left: 400px;
    margin-right: 400px;    
  }

  li {
    text-align: left;
  }


  #activities {
    box-sizing: content-box;
    background-color: aliceblue;
    position: relative;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: #333;
    box-shadow: 2px 2px 2px ;
  }

  #display-image1 {
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

  .activity {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-position: center;
    margin-left: 100px;
    margin-right: 200px;
    box-sizing: content-box;
    position: relative;
    margin-left: 50px;
    box-shadow: #333;
  }

  .image { 
    width: 400px;
  }